<%- include("partials/header")%>

<header class="jumbotron">
<h2>
	Welcome to the Renewals Application
</h2>
</header>

<a href="/renew" class="btn btn-default">Upcoming Renewals</a>

<%- include("partials/footer")%>


