<%- include("../partials/header")%>

<h2>
	Add new Sales Person
</h2>

<form method="POST" action="/sales">
	<div class="row">
	<div class="form-group col-lg-6">
	<label for="id">Id: </label>
	<input class="form-control" id="id" type="Number" placeholder="id" min="0" name="sales[id]">
</div>
	</div>

	<div class="row">
		<div class="form-group col-lg-6">
		<label for="name">Name: </label>
	<input class="form-control" id="name" type="String" placeholder="name" name="sales[name]">
			</div>
	</div>
		
	<div class="row">
		<div class="form-group col-lg-6">
	<label for="phone">Phone: </label>
	<input class="form-control" id="phone" type="String" placeholder="phone" name="sales[phone]">
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-lg-6">
	<label for="email">Email: </label>
	<input class="form-control" id="email" type="String" placeholder="email" name="sales[email]">
		</div>
	</div>
	
	<button class="btn btn-success">
		Submit
	</button>
</form>

<%- include("../partials/footer")%>
